nav {
    /* stick it to the top */
    /* to the right, to the right */
    float: right;
}

.breadcrumbs {
    display: block;
}

/* print.html */
.printpreview {
    /* need scrollbox property
     * max height is whichever is bigger out of:
     * e.g. 500px and screen height minus 200px
     * to prevent an unviewable box with short screens
     * maybe just set % here and change with later media query for short screens
     */
    max-height: 70vh;
    overflow: auto;
}

.printpreview-item {
    display: inline-block;
}

.printpreview-item img {
    display: block;
}

.choicebuttons {}

@media (max-height:300px) {
    .printpreview {
        max-height: 300px;
    }
}
