header {
    /* stick it to the top */
    position: fixed;
    z-index: 10;
    width: 100%;
}

nav {
    /* to the right, to the right */
    float: right;
}

.main {
    padding-top: 2rem;
    /* only need as much space as the navbar takes */
}

.breadcrumbs {
    display: block;
}

/* print.html */
.printpreview {
    /* need scrollbox property
     * max height is whichever is bigger out of:
     * e.g. 500px and screen height minus 200px
     * to prevent an unviewable box with short screens
     * maybe just set % here and change with later media query for short screens
     */
    max-height: 70vh;
    overflow: auto;
}

.printpreview-item {
    display: inline-block;
}

.printpreview-item img {
    display: block;
}

#canvas{
    float: left;
    width: 30%;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
#design_items{
    float: left;
    width: 30%;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

#newId {
    cursor: pointer;
}

#img11 {
    width: 50px;
    height: 50px;
    background-color: rgb(245, 230, 99);
    border: 10px solid rgba(136, 136, 136, .5);
    border-radius: 50%;
    touch-action: none;
    user-select: none;
}

.choicebuttons {}

@media (max-width: 500px) {
    .main {
        padding-top: 3rem;
        /* on narrower screens, the nav is split into two lines */
    }
}

/* wip... */
@media (max-height:300px) {
    .printpreview {
        max-height: 300px;
    }
}
