/* some CSS (mostly for navigation) taken from the personal website of Sarah Meng (currently http://www.people.virginia.edu/~shm3px/index.html), one of the creators */

/* background and body stuff */

body {
    /* to make nav and hr touch page sides */
    margin: 0;
}

/* nav stuff */

header {
    /* stick it to the top */
    position: fixed;
    z-index: 50;
    width: 100%;
}

nav {
    /* most of the links go to the right */
    width: 100%;
    line-height: 2rem;
    background-color: #ddd;
}

nav a {
    margin: 0;
    padding: 0;
    min-width: 5rem;
    display: inline-block;
    text-align: center;
}

a:hover {
    color: #fde;
    background-color: #00a;
}

.functionlinks {
    float: right;
}

/* body stuff */

main {
    padding-top: 2rem;
    /* only need as much space as the navbar takes */
}

.breadcrumbs {
    display: block;
}

/* print.html */
.printpreview {
    /* need scrollbox property
     * max height is whichever is bigger out of:
     * e.g. 500px and screen height minus 200px
     * to prevent an unviewable box with short screens
     * maybe just set % here and change with later media query for short screens
     */
    max-height: 70vh;
    overflow: auto;
}

.printpreview-item {
    display: inline-block;
}

.printpreview-item img {
    display: block;
}

.choicebuttons {}

@media (max-width: 500px) {
    .main {
        padding-top: 3rem;
        /* on narrower screens, the nav is split into two lines */
    }
}

/* wip... */
@media (max-height:300px) {
    .printpreview {
        max-height: 300px;
    }
}
